dropbox_referral_url="https://db.tt/xxxxxxxx"

# Do not touch the configuration below except if you know what you're doing
account_password="123123"
action="both"
logging="none"
anonymity="true"
provider="virtualbox"
timeout=60
location="us"