[config]
action = "both"
anonymity = "false"
dropboxPartnerLink = "https://db.tt/xxxxxxxx"
accountIdStart = 1
accountIdStop = 10
accountFirstName = "John"
accountLastName = "Doe"
accountEmail = "myfakedropboxaccount.%s@yopmail.com"
accountPassword = "123123"
