[config]
dropboxReferralURL = "https://db.tt/xxxxxxxx"

accountFirstName = "John"
accountLastName = "Doe"
accountEmail = "myfakedropboxaccount.%s@yopmail.com"
accountPassword = "123123"

action = "both"
logging = "none"
