[config]
logging = "none"
action = "both"
anonymity = "true"
dropboxReferralURL = "https://db.tt/xxxxxxxx"
accountFirstName = "John"
accountLastName = "Doe"
accountEmail = "myfakedropboxaccount.%s@yopmail.com"
accountPassword = "123123"
